.bigCounter{
    text-align: center;
    background-color: black;
}

.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    height: 90px;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 3px;
}


    